* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style-type: none;
    text-decoration: none;
}

//VARIABLES
@import './variables/colores';
//MIXIN
@mixin parrafoCAF($colorFondo, $colorLetra) {
    text-align: justify;
    background-color: $colorFondo;
    color: $colorLetra;  
}

//EXTEND
%colorFondoPrincipal{
    background-image: linear-gradient(to bottom, black 1%, aquamarine 99%);
}

//SECCIONES
@import './secciones/index';
@import './secciones/caf-informes';
@import './secciones/categoriasHoy';
@import './secciones/categoriasRetro';
@import './secciones/contacto';
@import './secciones/premios';
@import './secciones/quienes_somos';
@import './secciones/mediaquerys';
@import './secciones/footer';


header{
    background-color: black;
}
header a {
    text-decoration: none;
    list-style-type: none;
   }

h1 {
    display: none;
}

.logo {
    height: 100%;
    width: 100%;
    background-color: black;
}

.menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    
    .inicio{
        color: yellow;
    }
    .premios{
        color: yellow;
    }
    .cafb{
        color: yellow;
    }
    .quienes{
        color: yellow;
    }
    .contacto{
        color: yellow;
    }
    a {
        
        list-style-type: none;
        text-decoration: overline;
        color: $colorMenuPrincipal;
        background-color: black;
        
     
        &:hover{
            font-size: 40px;
            color: rgb(255, 0, 0);
            transition: 0.5s;
            background-color: black;
        }

        &:active{
            text-decoration-color: bisque;
        }
    }
}

