.mainCaf {
  @extend %colorFondoPrincipal;
  color: darkgray;
  padding-bottom: 50px;
}

.aqui {
  margin-left: 15px;
}

.caf {
  color: rgb(255, 0, 0);
  margin-left: 15px;
}

.parrafoCaf {
  @include parrafoCAF(rgba(13, 219, 255, 0.26), black);
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: oblique;
  margin-left: 15px;
  margin-right: 15px;
}

.informes {
  margin-left: 15px;
  color: black;
}

.f179,
.transam,
.transam2 {
  height: 90px;
  width: 175px;
  box-shadow: 0 5px 10px #000;
  background-color: #aaa;
}

.listainformes {
  display: flex;
  flex-direction: row;
  color: black;
  justify-content: space-evenly;
 
}
