.fotosHoy {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    align-content: stretch;
    padding-top: 50px;
    justify-content: space-between;
    justify-items: center;
    row-gap: 50px;
    @extend %colorFondoPrincipal;
  }
  
  .catTransam {
    height: 150px;
    width: 350px;
    margin-left: 10px;
  }
  
  .catWec, .catF12022 {
    height: 150px;
    width: 350px;
  }
  
  .catTnc3Hoy {
    height: 150px;
    width: 350px;
    margin-left: 10px;
  }
  
  .catTa {
    height: 150px;
    width: 400px;
  }
  
  .catPickup {
    height: 150px;
    width: 350px;
  }
  