.mainContacto {
    background-image: url(../imagenes/tndelpasado.jpg);
    background-size: cover;
    width: 100%;
  }
.consulta{
  text-align: center;
  color: bisque;
  font-size: 40px;
}
  .form {
    width: 500px;
    height: 500px;
    border: solid 2px;
    background-color: rgba(5, 146, 202, 0.425);
    border-radius: 25px;
  }

  .impNombre, .impEmail {
    margin-left: 165px;
    border-radius: 7px;
  }

  .textarea {
    transform: translate(40px);
    margin-left: 40px;
    border-radius: 7px;
  }

  .submit {
    transform: translate(40px);
  }

  .eMail {
    text-align: center;
    background-color: black;
    color: white;
  }

  .locos {
    border-radius: 25px;
    justify-content: center;
   
  }

  .imaform{
    display: grid;
    grid-template-columns: 50%, 50%;
    justify-content: center;
  }