.grillaMainIndex {
  @extend %colorFondoPrincipal;
}

.headerIndex {
  background-color: black;
}

.video {
  display: flex;
  justify-items: center;
  justify-content: center;
  padding-top: 30px;
}

.vidret {
  border-radius: 25px;
  border: solid;
  border-color: red;
}

.fotosIndex {
  padding-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.insca {
  position: absolute;
  transform: translate(925px, -180px);
  border-radius: 30px;
  border: dotted;
}

.fotret {
  border-radius: 50px;
  border: solid;
  border-color: red;
  margin-right: 25px;


}

.fotoHoy {
  border-radius: 50px;
  border: solid;
  border-color: red;

}

.noticias {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 75px;
  color: rgb(107, 0, 0);

}

.tn70Noticias {
  display: flex;
  justify-content: center;
}