@media (max-width: 400px) {
    .logo {
      height: 120px;
      width: 95%;
    }
  
    .menu {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      text-decoration: none;
      font-size: 25px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
  
    .grillaMainIndex {
      display: grid;
      grid-template-columns: 100%;
      align-items: center;
      background-color: aquamarine;
    }
  
    .vidret {
      border-radius: 25px;
      width: 300px;
      margin-top: 30px;
      margin-left: 20px;
      margin-bottom: 20px;
      border: solid;
      border-color: red;
    }
  
    .fotosIndex {
      margin-left: 20px;
    }
  
    .insca {
      transform: translate(6px, 110px);
      border-radius: 30px;
      border: dotted;
    }
  
    .fotret {
      border-radius: 50px;
      width: 300px;
      border: solid;
      border-color: red;
    }
  
    .fotoHoy {
      border-radius: 50px;
      margin-top: 75px;
      height: 100px;
      margin-left: 35px;
      border: solid;
      border-color: red;
    }
  
    .footer {
      align-items: center;
      display: flex;
      flex-direction: row;
      background-color: rgb(5, 154, 223);
      color: rgb(0, 0, 0);
      height: 50px;
      width: 100%;
      font-style: italic;
    }
  
    .redes {
      display: flex;
      flex-direction: row;
      text-decoration: none;
      list-style-type: none;
      margin-left: 5px;
    }
  
    .instagram {
      padding-right: 15px;
      color: rgb(196, 0, 196);
      font-weight: bold;
    }
  
    .facebook {
      padding-right: 15px;
      color: rgb(18, 18, 235);
      font-weight: bold;
    }
  
    .whatsapp {
      color: rgb(0, 116, 0);
      font-weight: bold;
    }
  
    .mainPremios {
      background-color: aquamarine;
      display: grid;
      grid-template-columns: 100%;
    }
  
    .imgMejorCircuito {
      width: 300px;
      height: 150px;
      margin-top: 20px;
      border-radius: 25px;
      border-color: aqua;
      margin-left: 30px;
    }
  
    .imgMejorTorneo, .imgMejorManiobra, .imgPilotoPromesa, .imgPilotoCorrecto, .imgPilotoRevelacion, .imgMejorPiloto {
      display: inline;
      width: 300px;
      height: 150px;
      margin-top: 20px;
      border-radius: 25px;
      border-color: aqua;
      margin-left: 30px;
    }
  
    .listainformes, .listainformes2, .listainformes3 {
      display: flex;
      flex-direction: column;
    }
  
    .f179, .transam, .transam2 {
      height: 90px;
      width: 150px;
    }
  
    .mainContacto {
      margin-top: 25px;
      background-image: url(../bannerlargo.jpg);
      background-size: 100%;
    }
  
    .form {
      width: 300px;
      height: 300px;
      border: solid 2px;
      margin-left: 30px;
      background-color: rgba(5, 146, 202, 0.425);
      border-radius: 25px;
    }
  
    .impNombre, .impEmail {
      margin-left: 75px;
      border-radius: 7px;
    }
  
    .textarea {
      transform: translate(40px);
      margin-left: 40px;
      border-radius: 7px;
      height: 150px;
      width: 75%;
      transform: translate(-1px, -10px);
    }
  
    .submit {
      transform: translate(130px, -11px);
    }
  
    .fotosHoy {
      display: flex;
      flex-direction: column;
      align-content: stretch;
      margin-top: 30px;
      justify-content: center;
      justify-items: center;
      align-content: center;
      align-items: center;
      row-gap: 50px;
      background-color: aquamarine;
    }
  
    .catTransam {
      height: 150px;
      width: 300px;
      margin-left: 10px;
    }
  
    .catWec, .catF12022 {
      height: 150px;
      width: 300px;
    }
  
    .catTnc3Hoy {
      height: 150px;
      width: 300px;
      margin-left: 10px;
    }
  
    .catTa {
      height: 120px;
      width: 300px;
    }
  
    .catPickup {
      height: 150px;
      width: 300px;
    }
  
    .fotosRetro {
      display: flex;
      flex-direction: column;
      align-content: stretch;
      margin-top: 30px;
      justify-content: center;
      justify-items: center;
      align-items: center;
      align-content: center;
      row-gap: 50px;
      background-color: aquamarine;
    }
  
    .catF179 {
      height: 150px;
      width: 300px;
      margin-left: 10px;
    }
  
    .catf3Retro {
      height: 125px;
      width: 300px;
    }
  
    .catCitroen {
      height: 150px;
      width: 300px;
    }
  
    .catRuteros {
      height: 125px;
      width: 300px;
      margin-left: 10px;
    }
  
    .catPolo {
      height: 150px;
      width: 300px;
    }
  
    .catTnc3 {
      height: 130px;
      width: 300px;
    }
  }