.mainPremios {
  @extend %colorFondoPrincipal;
  width: 100%;
    }
    .pMejor{
      text-align: center;
      font-size: 50px;
      color: rgb(180, 0, 0);
      font-weight: bold;
    }
    .bodyPremios{
      background-color: black;
    }
